# Server
PORT=3000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/healthcare

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d

# Email (Gmail SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password

# Frontend URL (for password reset links, report URLs)
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3000

# SMS Gateway
SMS_BASE_URL=https://43.252.88.250/index.php/smsapi/httpapi/
SMS_SECRET=xledocqmXkNPrTesuqWr
SMS_SENDER=NIGHAI
SMS_TEMP_ID=1207174264191607433
SMS_ROUTE=TA
SMS_MSG_TYPE=1
